body {
    background-image: url("../images/turtlebg.avif");
}
#gallery {
    display: flex;
    margin: 0 auto;
    width: min(900px, 80vw);
    height: 60vh;
    overflow: auto;
    background-color: #9FBBE3;
    padding: 10px;
    margin-top: 50px;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    box-shadow: 0px 0px 8px 5px black;
    border: 5px double #00397D;
    scrollbar-color: #00397D lightblue;
}
#gallery figure {
    scroll-snap-align: center;
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
}
#gallery img {
    max-width: 100%;
    height: auto;
}
#gallery figcaption {
    text-align: center;
    font-family: "Tinos", serif;
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-style: italic;
}
#gallery .filler {
    min-width: 150px;
    height: auto;
    scroll-snap-align: none;
    background-color: #9FBBE3;
}